# TravelTide

This notebook focuses on the extraction of relevant data from the TravelTide PostgreSQL database.

### Objectives:
- Connect to the PostgreSQL database using SQLAlchemy.
- Retrieve raw data from key tables:
  - **users**
  - **sessions**
  - **flights**
  - **hotels**
- Perform initial data inspection to ensure completeness and consistency.
- Export dataframes to local CSV files for further analysis.

The extracted data will be used in subsequent notebooks for feature engineering, segmentation, and visualization tasks.

## Imports

In [1]:
# Importing required libraries
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text
from datetime import datetime
from collections import defaultdict

## SQL Connection

#### Cohort Definition and Filtering

In [2]:
connection_string = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide"

engine = create_engine(connection_string)

SQL query to retrieve session data for active users.  \
**Steps:**
1. Define 'valid_users' as users with at least 3 sessions since January 4th, 2023.
2. Select all session records for these users within the same date range.

In [3]:
query = """
-- Aktive Nutzer mit mehr als 7 Sessions seit 4. Januar 2023
WITH valid_users AS (
  SELECT user_id
  FROM sessions
  WHERE session_start >= '2023-01-04'
  GROUP BY user_id
  HAVING COUNT(session_id) >= 3 
  )     
 
SELECT *
FROM sessions
WHERE session_start >= '2023-01-04'
  AND user_id IN (SELECT user_id FROM valid_users);
"""

df_sessions = pd.read_sql_query(query, engine)

## Sessions

In [4]:
# Extracting unique user IDs from the session data for filtering other tables.
user_ids = df_sessions['user_id'].unique().tolist()

# Extracting unique trip IDs (excluding missing values) for further joins.
trip_ids = df_sessions['trip_id'].dropna().unique().tolist()

In [5]:
df_sessions["booking_made"] = df_sessions["trip_id"].notna().astype(int)

In [6]:
df_sessions["session_duration_min"] = ((df_sessions["session_end"] - df_sessions["session_start"]).dt.total_seconds() / 60).round(2)

## Users

Function to retrieve user data from the database in chunks to avoid query size limits.
- Splits user_ids into smaller chunks (default: 10,000 IDs per query). 
- Executes SQL query for each chunk and appends results.
- Concatenates all chunks into a single DataFrame.

In [7]:
def get_users_in_chunks(user_ids, engine, chunk_size=10000):
    all_users = []
    for i in range(0, len(user_ids), chunk_size):
        chunk = user_ids[i:i+chunk_size]
        query = text("""
            SELECT * FROM users
            WHERE user_id = ANY(:user_ids)
        """)
        df_chunk = pd.read_sql_query(query, engine, params={"user_ids": chunk})
        all_users.append(df_chunk)

    return pd.concat(all_users, ignore_index=True)

df_users = get_users_in_chunks(user_ids, engine)

In [8]:
# Users Age
today = pd.to_datetime("today")
df_users["age"] = (today - pd.to_datetime(df_users["birthdate"])).dt.days // 365

In [29]:
# Users age buckets
bins = [0, 17, 24, 34, 44, 54, 64, 120]
labels = [
    '0-17', 
    '18-24', 
    '25-34', 
    '35-44',
    '45-54',
    '55-64',
    '65+'
]

df_users['age_bucket'] = pd.cut(df_users['age'], bins=bins, labels=labels)

In [10]:
df_users["home_country"] = df_users["home_country"].str.title()

In [11]:
df_users["home_city"] = df_users["home_city"].str.title()

## Flights

Function to retrieve flight data in chunks to handle large trip_id lists efficiently.
- Splits trip_ids into chunks (default: 10,000 per query).
- Executes SQL query for each chunk and appends the results.
- Concatenates all chunks into a single DataFrame.

In [12]:
def get_flight_in_chunks(trip_ids, engine, chunk_size=10000):
    all_flights = []
    for i in range(0, len(trip_ids), chunk_size):
        chunk = trip_ids[i:i+chunk_size]
        query = text("""
            SELECT * FROM flights
            WHERE trip_id = ANY(:trip_ids)
        """)
        df_chunk = pd.read_sql_query(query, engine, params={"trip_ids": chunk})
        all_flights.append(df_chunk)
    return pd.concat(all_flights, ignore_index=True)

df_flights = get_flight_in_chunks(trip_ids, engine)

In [13]:
df_flights["destination"] = df_flights["destination"].str.title()

## Hotels

Function to retrieve hotel data in chunks based on trip_ids.
- Splits trip_ids into smaller chunks (default: 10,000 IDs per query).
- Queries the hotels table for each chunk and appends results.
- Combines all chunks into a single DataFrame.

In [ ]:
def get_hotel_in_chunks(trip_ids, engine, chunk_size=10000):
    all_hotels = []
    for i in range(0, len(trip_ids), chunk_size):
        chunk = trip_ids[i:i+chunk_size]
        query = text("""
            SELECT * FROM hotels
            WHERE trip_id = ANY(:trip_ids)
        """)
        df_chunk = pd.read_sql_query(query, engine, params={"trip_ids": chunk})
        all_hotels.append(df_chunk)
    return pd.concat(all_hotels, ignore_index=True)

# Retrieve hotel data for trips linked to active session users.
df_hotels = get_hotel_in_chunks(trip_ids, engine)

In [15]:
# Splittet an ' - ', max 1 Split
df_hotels[['hotel_name', 'location']] = df_hotels['hotel_name'].str.split(' - ', n=1, expand=True)

In [16]:
df_hotels["location"] = df_hotels["location"].str.title()

In [17]:
df_hotels = df_hotels.loc[df_hotels["nights"] >= 0].copy()

## Aggregation Tables

#### Sessions

In [49]:
# Aggregating key session metrics per user:
# - session_count: total number of sessions.
# - booking_count: total number of bookings (based on trip_id count).
# - cancellations: number of cancelled bookings.
# - avg_session_duration_min: average session duration in minutes.
# - booking_conversion_rate: share of sessions resulting in a booking.

session_agg = (
    df_sessions.groupby("user_id")
    .agg(
        session_count=("session_id", "count"),
        booking_count=("trip_id", "count"),
        cancellations=("cancellation", lambda x: (x == True).sum()),
        avg_session_duration_min=("session_duration_min", "mean"),
        booking_conversion_rate=("booking_made", "mean")
    )
    .reset_index()
)

# Rounding average session duration to 2 decimals.
session_agg["avg_session_duration_min"] = session_agg["avg_session_duration_min"].round(2)

# Converting booking conversion rate to percentage and rounding.
session_agg["booking_conversion_rate"] = ((session_agg["booking_conversion_rate"])*100).round(2)

# Calculating cancellation rate as a percentage of bookings.
session_agg["cancellation_rate"] = ((session_agg["cancellations"] / session_agg["booking_count"])*100).round(2)

# Handling possible division by zero by replacing NaN with 0.
session_agg["cancellation_rate"] = session_agg["cancellation_rate"].fillna(0)

# Displaying the result.
session_agg.head()

,user_id,session_count,booking_count,cancellations,avg_session_duration_min,booking_conversion_rate,cancellation_rate
0,55,4,3,1,19.46,75.00,33.33
1,57,3,1,0,1.19,33.33,0.00
2,62,3,1,0,2.12,33.33,0.00
3,71,3,2,0,2.07,66.67,0.00
4,85,3,0,0,1.02,0.00,0.00

#### Flights 

Aggregating flight-related metrics per user:
- flight_booking_count: total number of flight bookings.
- total_flight_spent: total amount spent on flights.
- avg_seats_booked: average number of seats booked per trip.

In [20]:
# Merge flights und sessions, um user_id zu bekommen
df_flights_merged = df_flights.merge(df_sessions[["trip_id", "user_id"]], on="trip_id", how="left")

In [21]:
flight_agg = df_flights_merged.groupby("user_id").agg(
    flight_booking_count=("trip_id", "count"),
    total_flight_spent=("base_fare_usd", "sum"),
    avg_seats_booked=("seats", "mean")
).reset_index()

# Rounding total flight spend and average seats booked for better readability.
flight_agg["total_flight_spent"] = flight_agg["total_flight_spent"].round(2)
flight_agg["avg_seats_booked"] = flight_agg["avg_seats_booked"].round(2)

# Displaying the aggregated flight data.
flight_agg.head()

   user_id  flight_booking_count  total_flight_spent  avg_seats_booked
0       55                     3             4141.16              1.67
1       57                     1              184.81              1.00
2       62                     1              753.95              1.00
3       71                     2              767.51              1.00
4       88                     3             2878.04              1.33

#### Hotels

Aggregating hotel-related metrics per user:
- hotels_booking_count: total number of hotel bookings.
- total_hotel_spent: total amount spent on hotel stays.
- avg_nights_booked: average number of nights per hotel booking.

In [27]:
# Merging datasets 
df_hotels_merged = df_hotels.merge(df_sessions[["trip_id", "user_id"]], on="trip_id", how="left")

In [28]:
hotel_agg = df_hotels_merged.groupby("user_id").agg(
    hotels_booking_count=("trip_id", "count"),
    total_hotel_spent=("hotel_per_room_usd", "sum"),
    avg_nights_booked=("nights", "mean")
).reset_index()

# Rounding values for better readability.
hotel_agg["avg_nights_booked"] = hotel_agg["avg_nights_booked"].round(2)
hotel_agg["total_hotel_spent"] = hotel_agg["total_hotel_spent"].round(2)

# Displaying the aggregated hotel data.
hotel_agg.head()

   user_id  hotels_booking_count  total_hotel_spent  avg_nights_booked
0       55                     1              308.0                4.0
1       57                     1               97.0                0.0
2       62                     1               94.0                1.0
3       71                     1               68.0                9.0
4       88                     4             1462.0                2.5

### DataFrame to .CSV

In [50]:
df_sessions.to_csv('df_sessions.csv', index=False)
# Performing data operation
df_flights.to_csv('df_flights.csv', index=False)
# Performing data operation
df_hotels.to_csv('df_hotels.csv', index=False)
# Performing data operation
df_users.to_csv('df_users.csv', index=False)
# Performing data operation

# Wenn du schon aggregierte User-Features hast:
# Performing data operation
session_agg.to_csv('sessions_features.csv', index=False)
# Performing data operation
flight_agg.to_csv('flights_features.csv', index=False)
# Performing data operation
hotel_agg.to_csv('hotels_features.csv', index=False)